.main-wrapper {
  background-attachment: fixed !important;
  min-height: 100vh;
  background-size: 500px 500px;
  width: 100%;
  /*hack*/
  margin-top: -150px;
  p {
    margin: 0px auto;
    font-weight: 600;
    font-size: 20px;
    width: 90%;
    text-align-last: center;
    font-family: $third__font;
    color: #fff;
    text-align: center;
  }
  h1,
  h2 {
    color: #fff;
    text-align: center;
    font-size: 26px;
    font-family: $third__font;
    margin: 15px 0;
    padding-top: 3px;
  }
  h2 {
    font-size: 18px;
  }
  .main-wrapper-inner {
    &.boxed-column-child {
      .main-container {
        margin: 0 auto;
      }
    }
    &.boxed-column {
      padding-bottom: 40px;
    }
  }
}
.wrapper-box {
  margin: 10px 20px;
  padding: 10px 20px;
}

.wrapper-box.post {
  padding: 0;
  .post-container.boxed-column {
    padding: 0;
  }
}
